Source: opsi-depotserver
Section: opsi
Priority: optional
Maintainer: uib GmbH <info@uib.de>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: opsi-depotserver
Section: opsi
Architecture: all
Depends: python-opsi (>=3.99), opsiconfd (>=3.99), opsipxeconfd (>=3.99), opsi-utils (>=3.99), opsi-linux-bootimage (>=20100421), samba, dhcp3-server, sudo, wget, ${depend:opsi}
Suggests: slapd, mysql-server, p7zip-full, cabextract
Description: opsi depotserver configuration package
 This package is used to configure an opsi depotserver.
