#! /bin/sh
# config script for opsi-depotserver
#
# see: dh_installdeb(1)

set -e

. /usr/share/debconf/confmodule

db_title "Opsi Depotserver"

db_input high opsi/configure_samba || true
db_go || true
if [ -e "/etc/dhcp/dhcpd.conf" -o -e "/etc/dhcp3/dhcpd.conf" ]; then
	db_input high opsi/configure_dhcpd || true
	db_go || true
fi
if [ -e "/etc/sudoers" ]; then
	db_input high opsi/configure_sudoers || true
	db_go || true
fi

db_stop || true

